.App {
  text-align: center;
}
*{
  background-color: rgb(154, 244, 244);
}
h2{
  color:red;
  
}
.input-text{
  background-color: aliceblue;
  font-size: large;
}

.add{
  background-color: rgb(158, 242, 139);
  font-size: large;
}
.add:hover{
  background-color: rgb(223, 243, 74);
}
.remove-btn{
  background-color: rgb(226, 43, 43);
  
}
h1{
  margin-left:40%;
}
