.App {
  text-align: center;
}
*{
  background-color: rgb(154, 244, 244);
}
h2{
  color:red;
  
}
.input-text{
  background-color: aliceblue;
  font-size: large;
  border-radius: 13px;
}

.addBtn{
  background-color: rgb(158, 242, 139);
  font-size: large;
  border-radius: 20px;
}
.addBtn:hover{
  background-color: rgb(223, 243, 74);
}
.remove-btn{
  background-color: rgb(220, 208, 208);
  border-radius: 5px;
  
}
.edit-btn{
  background-color: rgb(220, 208, 208);
  border-radius: 5px;
}
h1{
  margin-left:40%;
}
